---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../Components/Card.astro";
const postFiles = import.meta.glob("./*.md", { eager: true }) as Record<
  string,
  any
>;
const allPosts = Object.values(postFiles).sort((a, b) => {
  const dateA = new Date(a.frontmatter.date);
  const dateB = new Date(b.frontmatter.date);
  return dateB.getTime() - dateA.getTime();
});
---

<BaseLayout title="Blogs | Ahnet">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 mt-15 lg:mt-20 mb-15">
    <div class="heading">
      <a class="text-[#cccccc] transition-colors duration-300 hover:text-[#acacab]" href="/">Home</a>
      <h1 style="font-family: Outfit Bold;" class="mt-2 text-4xl">Blogs</h1>
    </div>

    {
      allPosts.map((post) => {
        return (
          <Card
            name={post.frontmatter.name}
            link={post.url}
            desc={post.frontmatter.desc}
            date={post.frontmatter.date}
            time={post.frontmatter.time}
          />
        );
      })
    }
  </div>
</BaseLayout>
