---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/AboutStyles.css";

// Languages Icons
import c_lang_icon from "../assets/icons/languages/c_lang.svg";
import javascript_icon from "../assets/icons/languages/javascript_icon.svg";
import kotlin_icon from "../assets/icons/languages/kotlin.svg";

// Connect Icons
import discord_icon from "../assets/icons/connect_icons/discord.svg";
import email_icon from "../assets/icons/connect_icons/email.svg";
import github_icon from "../assets/icons/connect_icons/github_icon.svg";
import linkedin_icon from "../assets/icons/connect_icons/linkedin_icon.svg";
import telegram_icon from "../assets/icons/connect_icons/telegram.svg";
---

<BaseLayout title="Profile | Ahnet">
  <div class="main">
    <div class="heading">
      <a href="/">Home</a>
      <h1>About Me</h1>
      <p>1 min</p>

      <div class="content">
        <h2>👋 Hello there! I am Kumail Hanafi (Ahnet)</h2>
        <p>
          I am a student at FAST NUCES, pursuing a BS in Artificial
          Intelligence. I'm deeply passionate about technology: wether it's
          hardware or software. I'm always curious to learn beyond what is
          possible!
        </p>
        <hr class="divider" />
        <h2>⚡ Projects</h2>

        <ul class="projects_list">
          <li>
            Maintaining <a href="https://yaaprom.org/">YAAP</a> for Xperia 1 II,
            Xperia 5 II
          </li>
          <li style="font-style: italic; color: rgb(182, 182, 182);">
            More Upcoming...
          </li>
        </ul>

        <hr class="divider" />

        <h2>🤝🏻 Skills</h2>

        <ul class="lang_list">
          <li>
            <img src={c_lang_icon.src} />Currently learning C
          </li>
          <li>
            <img src={javascript_icon.src} />Basic JavaScript
          </li>
          <li>
            <img src={kotlin_icon.src} />Basic understanding of Kotlin/Java
          </li>
        </ul>

        <hr class="divider" />
        <h2>📊 GitHub Statistics</h2>
        <div class="github_stats">
          <img
            src="https://github-readme-stats.vercel.app/api?username=realahnet&show_icons=true&theme=dark&count_private=true"
            alt="GitHub Statistics"
          />
          <img
            src="https://github-readme-streak-stats.herokuapp.com/?user=realahnet&theme=dark"
            alt="GitHub Statistics"
          />
        </div>

        <hr class="divider" />

        <h2>🌐 Contact me at</h2>
        <ul class="connect_ul">
          <li>
            <img src={discord_icon.src} /><a
              href="https://discord.com/users/635483684719558666"
              target="_blank">Discord</a
            >
          </li>
          <li>
            <img src={email_icon.src} /><a
              href="mailto:kumailhanafi72@gmail.com"
              target="_blank">Email</a
            >
          </li>
          <li>
            <img src={github_icon.src} /><a
              href="https://github.com/realahnet"
              target="_blank">GitHub</a
            >
          </li>
          <li>
            <img src={linkedin_icon.src} /><a
              href="https://www.linkedin.com/in/kumail-hanafi/"
              target="_blank">LinkedIn</a
            >
          </li>
          <li>
            <img src={telegram_icon.src} /><a
              href="https://t.me/ahnet_h"
              target="_blank">Telegram</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</BaseLayout>
